* {
    box-sizing: border-box;
    color: #212121;
}

.container {
    margin: auto;
}

body {
    background-color: white;
}

.main {
    width: auto;
}

.head {
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3 {
    font-size: 1.6rem;
    font-family: 'Cambri', sans-serif;
}

.name {
    color: #212121;
    margin-right: 5rem;
}

.nav {
    border: none;
    background-color: white;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2rem;
    letter-spacing: normal;
    cursor: pointer;
    color: #212121;
    padding: 2rem;
}

.special-nav1 {
    border: none;
    background-color: #2270e2;
    color: white;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2rem;
    letter-spacing: normal;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 2rem;
}

.header {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #212121;
    background-color: #f4f8fd;
    text-align: start;
    line-height: 4rem;
    letter-spacing: normal;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

h3 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.line {
    background-color: #2270e2;
    width: 100px;
    height: 1px;
    margin-left: 25px;
    margin-right: 2rem;
    margin-top: -6px;
}

p, h2 {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    padding-left: 2rem;
}

.email {
    font-size: 1.2rem;
    font-weight: 900;
}

.nav-contact {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
}

.contact {
    padding: 0.5rem;
}

img {
    width: 30%;
    height: 30%;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.one {
    display: flex;
    flex-direction: row;
}

h2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

footer {
    background-color: #212121;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    width: 10%;
    padding-right: 2rem;
    padding-left: 2rem;
}

.nav-contact1 {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact1 {
    padding: 2rem;
}

@media only screen and (max-width: 850px) {
    .container {
        margin: auto;
    }

    .main, .head {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .nav, .special-nav1 {
        font-size: 0.7rem;
        padding: 0.5rem;
    }

    .name {
        float: left;
        color: black;
        text-decoration: none;
        font-size: 0.8rem;
        line-height: 25px;
        border-radius: 1rem;
    }

    .header {
        height: auto;
        width: auto;
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    .line {
        width: 90px;
    }

    p, h2 {
        font-size: 0.8rem;
    }
}